.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-link:hover {
    background-color: burlywood;
}

.active .page-link {
    background-color: #007bff;
    /* background-color: red; */
    color: black;
}

.disabled .page-link {
    cursor: not-allowed;
    background-color: #f0f0f0;
}